doctype html
html(lang="en")
  head
    title Responsive Grid Layout
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/grid.css")
    link(rel="stylesheet", href="css/demo.css")
  body
    .row
      .span_12.col
    .row
      .span_6.col
      .span_6.col
    .row
      .span_4.col
      .span_4.col
      .span_4.col
    .row
      .span_3.col
      .span_9.col