doctype html
html(lang="en")
  head
    title Responsive Grid Layout
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="css/grid.css")
    link(rel="stylesheet", href="css/demo.css")
  body
    .row
      .all.columns
        .content
    .row
      .half.columns
        .content
      .half.columns
        .content
    .row
      .one-third.columns
        .content
      .one-third.columns
        .content
      .one-third.columns
        .content
    .row
      .two-thirds.columns
        .content
      .one-third.columns
        .content
    .row
      .half.columns
        .content.no-id
          .row
            .half.columns
              .content  Nested
            .half.columns
              .content  Nested
          .row
            .all.columns
              .content  Nested
      .half.columns
        .content
    .row
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
      .span1.columns
        .content
    .row
      .span8.columns.push8
        .content  reverse
      .span8.columns.pull8
        .content  reverse
    .row
      .span12.columns.push4
        .content  pushed 4
